h1 {
	font-family: 'Roboto-thin', sans-serif;
	font-size: 5em;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5em;
	margin-top: 100px;
	margin-bottom: 40px;
}

p {
    font-family: 'Roboto-light', sans-serif;
    font-size: 1.4em;
}

ul, li {
    font-family: 'Roboto-light', sans-serif;
    font-size: 1.2em;
}

a {
	color: black;
}

a:hover {
	color: #5b5b5b;
}
.page-header {
	padding-top: 110px;
	padding-bottom: 110px;
}

.socialicon {
	width: 50px;
	height: 50px;
    margin: 10px;
    float: right;
}

.links > a {
	text-decoration: none;
	font-family: 'Roboto-light', sans-serif;
	font-size: 2.4em;
}

.links > a:hover {
    text-decoration: underline;
}

.links > a > img {
	margin: 20px;
}

.portrait {
	width: 256px;
	height: 256px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 90px;
}

.nav {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
    margin-top: 100px;
}

.nav > li > a:hover,
.nav > li > a:focus {
	background-color: transparent;
}

.storebadge {
    width: 147px;
}

.screenshot {
    height: %;
    width: 20%;

}

.app-thumbnail {
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}